<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.dmn.txt">

  <variable name="LogHome" value="${currentdir}\Logs"/>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="ColoredConsole"
            name="coloredConsole"
            layout="${longdate}|${event-properties:item=CorrelationId}|${logger}|${uppercase:${level}}|${message} ${exception}"
            useDefaultRowHighlightingRules="true" />

    <target xsi:type="OutputDebugString"
          name="debugger"
          layout="${longdate}|${event-properties:item=CorrelationId}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Console"
                name="console"
                layout="${longdate}|${event-properties:item=CorrelationId}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="File"
            name="app"
            layout="${longdate}|${event-properties:item=CorrelationId}|${logger}|${uppercase:${level}}|${message} ${exception}"
            fileName="${LogHome}/${cached:${date:format=yyyyMMddHHmmss}}.app.log"
            archiveFileName="${LogHome}/archives/app.log.{#}.txt"
            archiveEvery="Hour"
            archiveDateFormat="yyyyMMddHHmmss"
            archiveNumbering="Date"
            archiveOldFileOnStartup="true"
            maxArchiveFiles="20"
            concurrentWrites="true"
            keepFileOpen="true"
            openFileCacheTimeout = "30"
            encoding="utf-8"/>

    <target xsi:type="File"
                name="error"
                layout="${longdate}|${event-properties:item=CorrelationId}|${logger}|${uppercase:${level}}|${message} ${exception:format=stacktrace}"
                fileName="${LogHome}/${cached:${date:format=yyyyMMddHHmmss}}.error.log"
                archiveFileName="${LogHome}/archives/error.log.{#}.txt"
                archiveEvery="Day"
                archiveDateFormat="yyyyMMddHHmmss"
                archiveNumbering="Date"
                archiveOldFileOnStartup="true"
                maxArchiveFiles="20"
                concurrentWrites="true"
                keepFileOpen="false"
                encoding="utf-8"/>


  </targets>
  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="app" />
    <logger name="*" minlevel="Error" writeTo="error" />
  </rules>
</nlog>